.bg {
    background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/c575d435418291.56f613efddcf7.jpg");
  flex-wrap: wrap;
    display: flex;
    height: 100%;
    background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      justify-content: center;
  }
  #searchBar {
    position: fixed;
    width: 360px;
      margin: 20% auto;
    z-index: 1;
    justify-content: center;
  }
  #searchBar input {
    border-radius: 70px;
    background-color: rgba(244, 165, 96, 0.752);
    font-weight: BOLD;
    border: 1px solid #310c8f01;
     height: 45px;
    color: brown;
  }
  #popovers {
    display: inline-flex;
    margin-left: -25px;
  }
  #popovers button {
    margin: 10px;
    width: 130px;
   
  }
  #results {
    display: inline-block;
      margin: 30 auto;
  }
  #cards {
    display: inline-flex;
   background-color: rgb(240, 99, 29);
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
  }
  .card {
    height: 500px;
    
  }
  #cards:hover {
    opacity: 0.9;

  }
  